@import '~angularjs-slider/src/rzslider.less';
@import '~font-awesome/less/font-awesome.less';
@import './options.less';
@import './results.less';

body {
  margin: 0;
}

.search-container {
  font-size: 12px;
  color: rgba(0,0,0, 0.6);
}