<div class="search-container">
  <div class="options">
    <div class="option category">
      <div class="header">category</div>
      <ul>
        <li ng-repeat="category in vm.searchOptions.categories">
          <label><input type="checkbox" ng-model="category.categories.isSelected"> 
            {{category.categories.name}}
          </label>
        </li>
      </ul>
    </div>
    <div class="option cuisine">
      <div class="header">cuisine</div>
      <ul>
        <li ng-repeat="cuisine in vm.searchOptions.cuisines">
          <label><input type="checkbox" ng-model="cuisine.cuisine.isSelected"> 
            {{cuisine.cuisine.cuisine_name}}
          </label>
        </li>
      </ul>
    </div>
    <div class="option rating">
      <div class="slider">
        <div class="header">rating</div>
        <rzslider rz-slider-model="vm.searchOptions.rating.minValue" 
        rz-slider-high="vm.searchOptions.rating.maxValue" 
        rz-slider-options="vm.searchOptions.rating.options"></rzslider>
      </div>
      <div class="slider">
        <div class="header">cost</div>
        <rzslider rz-slider-model="vm.searchOptions.cost.minValue" 
        rz-slider-high="vm.searchOptions.cost.maxValue" 
        rz-slider-options="vm.searchOptions.cost.options"></rzslider>
      </div>
    </div>
   
  </div>
  <div class="results">
      <div class="list">
        <ul>
          <li class="header">RESULTS</li>
          <li ng-repeat="restaurant in vm.restaurants">{{restaurant.restaurant.name}}</li>
          <li ng-hide="vm.restaurants.length"><i>No results</i></li>
        </ul>
      </div>
      <div class="details">
        s simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It
        has survived not only five
      </div>
    </div>
    </div>