<div class="search-container">
  <div class="options">
    <div class="option category">
      <div class="header">category</div>
      <ul>
        <li ng-repeat="category in vm.searchOptions.categories">
          <label><input type="checkbox" ng-model="category.categories.isSelected"> {{category.categories.name}}
          </label>
        </li>
      </ul>
    </div>
    <div class="option cuisine">
      <div class="header">cuisine</div>
      <ul>
        <li ng-repeat="cuisine in vm.searchOptions.cuisines">
          <label><input type="checkbox" ng-model="cuisine.cuisine.isSelected"> {{cuisine.cuisine.cuisine_name}}
          </label>
        </li>
      </ul>
    </div>
    <div class="option rating">
      <div class="slider">
        <div class="header">rating</div>
        <rzslider rz-slider-model="vm.searchOptions.rating.minValue" rz-slider-high="vm.searchOptions.rating.maxValue" rz-slider-options="vm.searchOptions.rating.options"></rzslider>
      </div>
      <div class="slider">
        <div class="header">cost</div>
        <rzslider rz-slider-model="vm.searchOptions.cost.minValue" rz-slider-high="vm.searchOptions.cost.maxValue" rz-slider-options="vm.searchOptions.cost.options"></rzslider>
      </div>
    </div>

  </div>
  <div class="results">
    <div class="list">
      <ul>
        <li class="header">RESULTS <i ng-if="vm.isLoading" class="fa fa-spinner fa-spin"></i></li>
        <li ng-class="{'selected': restaurant.restaurant.id === vm.selectedRestaurant.id}" ng-repeat="restaurant in vm.restaurants" ng-click="vm.setSelectedRestaurant(restaurant.restaurant)">{{restaurant.restaurant.name}}</li>
        <li ng-if="vm.resultMetaData.results_found && vm.resultMetaData.canLoadMore" ng-click="vm.loadMoreResults()">
          <strong>Load More <i class="fa fa-caret-down"></i> <i ng-show="vm.isLoading" class="fa fa-spinner fa-spin"></i></strong>
        </li>
      </ul>
    </div>
    <div class="details">
      <h2 ng-if="!vm.selectedRestaurant && vm.restaurants.length">Click on a restaurant from the left panel to show details.</h2>
      <div ng-if="vm.selectedRestaurant" class="restaurant-container">
        <div class="featured-image" title="{{vm.selectedRestaurant.name}}"
        ng-style="{'background-image': 'url(' + vm.selectedRestaurant.featured_image + ')'}">
        </div>
        <div class="details-container">
          <div class="restaurant-header">
            <h1>{{vm.selectedRestaurant.name}}</h1>
            <p>{{vm.selectedRestaurant.location.address}}</p>
          </div>
          <div class="restaurant-options">
            <p ng-show="vm.selectedRestaurant.has_table_booking"><i class="fa fa-check"></i> Booking available</p>
            <p ng-hide="vm.selectedRestaurant.has_table_booking"><i class="fa fa-times"></i> No bookings</p>
            
            <p class="available" ng-show="vm.selectedRestaurant.has_online_delivery"><i class="fa fa-check"></i> Delivery available</p>
            <p class="not-available" ng-hide="vm.selectedRestaurant.has_online_delivery"><i class="fa fa-times"></i> No delivery</p>
          </div>
          <div>
            <div class="details-header">cuisine</div>
            <div class="details-content">{{vm.selectedRestaurant.cuisines}}</div>
          </div>
          <div>
            <div class="details-header">phone number</div>
            <div class="details-content">{{vm.selectedRestaurant.phone_numbers || 'N/A'}}</div>
          </div>
          <div>
              <div class="details-header">opening hours</div>
              <div class="details-content">N/A</div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>